<div id="trustScoreWindow">
<div class="d-flex">
    <h5 id="yourTrustScore">Вашият TrustScore за: </h5>
    <h5 id="dropDownSample">Август 2026 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
    </svg></h5> 
</div>
<div id="TrustScoreGrid">
<div id="TrustScoreRow1" >
    <div id="TrustScoreCircle">
        <div id="CircleLine">
            <p id="CircleInnerScoreBigText">93</p><p id="CircleInnerScore">/100</p>
            <p id="CircleInnerWordRating">Отличен</p>
            <div id="CircleInnerImprovementBlur">
            <p id="CircleInnerImprovement"><img src="../../RES/IMG/ICO/up-arrow.svg">+3 Спрямо Юли 2026</p>
            </div>
        </div>
    </div>

    <div id="TrustScoreCriteriaWindow">
        <p id="TrustScoreCriteriaMainHeading">Разпределение по критерии</p>
        <ul>
            <li>
                <p>Заплащане</p><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><div class="progress-bar" style="width: 80%"></div>
            </li>

            <li>
                <p>Работно време</p><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><div class="progress-bar" style="width: 92%"></div>
            </li>

            <li>
                <p>Коректност</p><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><div class="progress-bar" style="width: 96%"></div>
            </li>

            <li>
                <p>Стабилност</p><div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><div class="progress-bar" style="width: 90%"></div>
            </li>
        </ul>

    </div>
</div>
<div id="TrustScoreRow1">
    <div id="TrustScoreGraphSection">
        <p id="TrustScoreGraphHeading">Месечна история</p>
        <div id="">
            <canvas id="TrustScoreChart"></canvas>
        </div>
    </div>
    <div id="TrustScoreRecentEvents">
        <p id="TrustScoreRecentEventsHeading">Последни събития</p>
        <ul>
            <li><p><img src="../../RES/IMG/ICO/checkmark-circle.svg">&nbsp;Оценката за Август е завършена</p></li>
            <li><p><img src="../../RES/IMG/ICO/checkmark-circle.svg">&nbsp;Заплатата е изплатена навреме</p></li>
            <li><p><img src="../../RES/IMG/ICO/checkmark-circle.svg">&nbsp;Няма подадени сигнали</p></li>
        </ul>
        <p id="TrustScoreRecentEventsSeeMore">Виж всички</p>
    </div>
</div>
</div>
</div>



