<div id="mainPageFeatureRow">
    <div id="mainPageFeatureRowGrid">
        <div class="card" style="width: 18rem;">
        <img src="../../RES/IMG/ICO/shield-check.svg" class="card-img-top" alt="shield">
        <h5 class="card-title">Анонимност и защита</h5>
        <div class="card-body">
            <p class="card-text">Напълно анонимни сигнали и оценки, без опасност от репресии.</p>
        </div>
        </div>

        <!-- Card -->

           <div class="card" style="width: 18rem;">
        <img src="../../RES/IMG/ICO/calendar.svg" class="card-img-top" alt="shield">
        <h5 class="card-title">Месечни оценки</h5>
        <div class="card-body">
            <p class="card-text">Обективно проследяване и хронология във времето.</p>
        </div>
        </div>

        <!-- Card -->

        <div class="card" style="width: 18rem;">
        <img src="../../RES/IMG/ICO/document.svg" class="card-img-top" alt="shield">
        <h5 class="card-title">Гарантирана прозрачност</h5>
        <div class="card-body">
            <p class="card-text">Сериозните нарушения се основават на факти и документи.</p>
        </div>
        </div>

        <!-- Card -->

           <div class="card" style="width: 18rem;">
        <img src="../../RES/IMG/ICO/bar-chart.svg" class="card-img-top" alt="shield">
        <h5 class="card-title">Растеж за бизнеса.</h5>
        <div class="card-body">
            <p class="card-text">По-ниско текучество, по-силни екипи и устоичив растеж.</p>
        </div>
        </div>

    </div>
</div>