<div class="mainPageText">

<div class="mainPageTextFields">
<p id="mainText">Доверие, което се изгражда<br><a id="everyMonth"> всеки месец.</a> </p>
<h3  id="mainPageSubText">BriGaDo Trust е платформата за месечно проследяване <br> на коректност, репутация и трудова култура. <br> За работодатели, които ценят коректността. <br> За служители, които защитават правата си </h3>
</div>

<div class=" button-row" id="mainPageButtonRow" >

<button class="btn" id="mainTextEmployeeRegister" onclick="window.location.href='./PAGES/REGISTRATION/registerEmployee.html'">
Регистрация за служители
</button>
<button class="btn" id="mainTextEmployerRegister" onclick="window.location.href='./PAGES/REGISTRATION/registerEmployer.html'">
Регистрация за работодатели
</button>
        
<button class="btn" id="mainTextMiddlemanRegister"onclick="window.location.href='./PAGES/REGISTRATION/registerAgency.html'">
Регистрация за посредници
</button>

</div>
<div id="dataGuarantee">
    <br>
    <small><img src="../../RES/IMG/ICO/padlock.svg">100% анонимност и защита на данните</small>
</div>