<div id="mainPageStatusRow">
    <div id="mainPageStatusRowGrid">
        <div class="status-card">
            <img src="../../RES/IMG/ICO/people-double.svg" alt="Верифицирани профили">
            <div class="status-text">
                <h5>25 000+</h5>
                <p>верифицирани профила</p>
            </div>
        </div>

        <div class="status-card">
            <img src="../../RES/IMG/ICO/building.svg" alt="Доверени компании">
            <div class="status-text">
                <h5>3 200+</h5>
                <p>доверени компании</p>
            </div>
        </div>

        <div class="status-card">
            <img src="../../RES/IMG/ICO/shield-check.svg" alt="Анонимност и сигурност">
            <div class="status-text">
                <h5>98%</h5>
                <p>анонимност и сигурност</p>
            </div>
        </div>

        <div class="status-card">
            <img src="../../RES/IMG/ICO/bar-chart.svg" alt="История на репутация">
            <div class="status-text">
                <h5>12+ месеца</h5>
                <p>история на репутация</p>
            </div>
        </div>
    </div>
</div>