<div class="nav-wrap">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/HTML/index.html" >
        <img src="/RES/IMG/BriGaDo  TRUST logo nobg.png" alt="Bootstrap">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="/HTML/index.html">Начало</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/HTML/PAGES/about-us.html">За платформата</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/HTML/PAGES/how-it-works.html">Как работи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/HTML/PAGES/employers.html">За работoдатели</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/HTML/PAGES/employess.html">За служители</a>
    </li>
    <li class="nav-item dropdown" id="#navbar-drop">
        <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Ресурси <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
    </svg>
        </a>
        <ul class="dropdown-menu">
        <!-- Празно засега -->
        </ul>
    </li>
    </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
            <button class="navbar-login btn">
            <a href="./PAGES/login.html">Вход</a>
            </button>   
            </li>
            <li class="nav-item" >
            <button class="navbar-register btn">
            <a href="./PAGES/registerSelection.html">Регистрация</a>
            </button>   
            </li>
        </ul>
        </div>
    </div>
</nav>
</div>