<div class="recent-ratings-card">
    <!-- Header -->
    <div class="recent-ratings-header">
        <h5 class="recent-ratings-title">Последни оценки</h5>
        <a href="#" class="recent-ratings-see-all">
            Виж всички
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
        </a>
    </div>

    <!-- Ratings list -->
    <div class="recent-ratings-list">

        <!-- Август 2025 -->
        <div class="recent-rating-item">
            <span class="recent-rating-month">Август 2025</span>
            <div class="recent-rating-stars" data-rating="4.8">
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star filled">★</span>
            </div>
            <span class="recent-rating-score">4.8 / 5</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right recent-rating-arrow" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </div>

        <!-- Юли 2025 -->
        <div class="recent-rating-item">
            <span class="recent-rating-month">Юли 2025</span>
            <div class="recent-rating-stars" data-rating="4.7">
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star half">★</span>
            </div>
            <span class="recent-rating-score">4.7 / 5</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right recent-rating-arrow" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </div>

        <!-- Юни 2025 -->
        <div class="recent-rating-item">
            <span class="recent-rating-month">Юни 2025</span>
            <div class="recent-rating-stars" data-rating="4.6">
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star half">★</span>
            </div>
            <span class="recent-rating-score">4.6 / 5</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right recent-rating-arrow" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </div>

        <!-- Май 2025 -->
        <div class="recent-rating-item">
            <span class="recent-rating-month">Май 2025</span>
            <div class="recent-rating-stars" data-rating="4.9">
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star half">★</span>
            </div>
            <span class="recent-rating-score">4.9 / 5</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right recent-rating-arrow" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </div>

    </div>
</div>